body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

header {
  margin-bottom: 20px;
  color: #333;
  background: #9400D3;
}

footer {
  height:50px;
  width: 960px;
  padding: 30px 0;
  clear: both;
  background: #666;
  margin: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  border-top: 8px solid #4aaaa5;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p {
  text-align: left;
  font-family: Arial;
  color: #777777;
}
h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}
h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}
h2,
h3 {
  font-size: 22px;
}

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}
.p_center {
  text-align: center;
  font-family: Arial;
  color: #777777;
}
#logo {
  float: left;
  width: 450px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #9400D3;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
#main-container {
  padding-top: 130px;
}
.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

.container_header {
    float:left;
    background-color: #ffffff;
    height:100px;
    width: 960px;
    border: #cccccc;
    padding: 0px;
    margin: 20px;
}
.container_main {
    background-color: #dddddd;
    width: 960px;
    content: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    background: 
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a;
 
}
.inside_container {
  float: relative;
  margin: 20px;
  width: 650px;
  overflow: auto;
  clear: both;
  background: #ffffff;
  padding: 100px;
}
.inside_images{
  float: relative;
  margin: 20px;
  width: 650px;
  clear: both;
  background: #ffffff;
  text-align: center;
}
.random_number{
  float: relative;
  margin: 20px;
  width: 100px;
  height: 100px;
  clear: both;
  background: #ffffff;
  padding:20px;
}
.wins_losses{
  float: relative;
  margin: 20px;
  width: 100px;
  height:100px;
  /*clear: both;*/
  background: #ffffff;
  padding:20px;
}
.total_score{
  float: relative;
  margin: 20px;
  width: 200px;
  height: 50px;
  clear: both;
  background: #ffffff;
  padding:20px;
}
.crystal_value{
  float: relative;
  margin: 20px;
  width: 200px;
  height: 100px;
  clear: both;
  background: #ffffff;
  padding:20px;
}

.small_image {
  width: 75px;
  height: 75px;


}